button{
    background-color: rgb(100, 241, 171);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    
}


.encabezado {
    text-align: center;
    width: 700;
    padding: 30px;
    color: rgb(0, 0, 0);
    font-size: 60px;
    background-color: rgb(81, 255, 0);
    
}

.talleres :hover{
    transition: 0.9s;
    padding: 10px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 34);


}

.actividades {
    
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
    font-size: 700;
  
   

} 

.moodle{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px;
    font-size: 700;


}

html, body {
    background-color: #000; /* Negro puro */
    margin: 0;
    padding: 0;
    color: white; /* Opcional para ver el texto */
}

body {
    margin: 0;
    background: #000;
    overflow: hidden;
}

.pr{
    background-color: rgb(100, 241, 171);
    border-radius: 15px;
    padding: 10px;
    text-decoration: none; 
}

.pr:hover{
    transition: 0.9s;
    padding: 20px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 34);
   
}

